<h1>Listing giris</h1>

<table>
  <thead>
    <tr>
      <th>Ilk basvuru tarihi</th>
      <th>Gonullu</th>
      <th>Basvuran</th>
      <th>Morcati destegi aliyor</th>
      <th>Iletisime gecen</th>
      <th>Iletisime gecme yolu</th>
      <th>Notlar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giris.each do |giri| %>
      <tr>
        <td><%= giri.ilk_basvuru_tarihi %></td>
        <td><%= giri.gonullu %></td>
        <td><%= giri.basvuran %></td>
        <td><%= giri.morcati_destegi_aliyor %></td>
        <td><%= giri.iletisime_gecen %></td>
        <td><%= giri.iletisime_gecme_yolu %></td>
        <td><%= giri.notlar %></td>
        <td><%= link_to 'Show', giri %></td>
        <td><%= link_to 'Edit', edit_giri_path(giri) %></td>
        <td><%= link_to 'Destroy', giri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Giri', new_giri_path %>
